
<div class="footerInfo">
    <div class="gcContact">

        <div class="gcAll">
            <img src="{{url_for('static', filename='images/gcLogo.png')}}" alt="" class="logo gcLogo">
            <div class="gcName">
                <span>Gesture Creators Inc &copy;</span>
                <span class="smallerText">Interact. Understand. Communicate.</span>
            </div>
        </div>

        <div class="contact">
            <span>(876) 392 - 8329</span>
            <span>gestureCreators@gmail.com</span>
        </div>

    </div>
    
    <div class="linksCtn">
        <a class="footer-link" href="{{ url_for('home') }}">Home</a>
        <a class="footer-link" href="{{ url_for('translator') }}">Translator</a>
        <a class="footer-link" href="{{ url_for('resources') }}">Resources</a>
        <a class="footer-link" href="{{ url_for('about') }}">About Us</a>
    </div>
</div>

<hr/>
<div class="footerCopyRt">
    <a href="https://www.instagram.com/gesturecreators/" target="_blank">
        <i data-lucide="instagram"></i>
    </a>
    <span>Copyright &copy; 2024. All rights reserved</span>
</div>
