<div class="homeHeader">
  <div class="headerText">
    <div class="aCtn">
      <a href="{{url_for('home')}}">
        <h1 class="">Sign</h1>
    
        {% include "logo.html" %}
    
        <h1 class="">Sync</h1>
      </a>
    </div>
    
  </div>
  
  
  
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
  
      <!-- <a class="navbar-brand" href="{{ url_for('home') }}">
  
        <img src="{{url_for('static', filename="images/logo.png")}}" alt="" class="logo">
  
      </a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li>
            <a class="{{ 'nav-link active' if active_page == 'home' else 'nav-link' }}" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="{{ 'nav-link active' if active_page == 'translator' else 'nav-link' }}" href="{{ url_for('translator') }}">Translator</a>
          </li>
          <li class="nav-item">
            <a class="{{ 'nav-link active' if active_page == 'resources' else 'nav-link' }}" href="{{ url_for('resources') }}">Resources</a>
          </li>
          <li class="nav-item">
            <a class="{{ 'nav-link active' if active_page == 'about' else 'nav-link' }}" href="{{ url_for('about') }}">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>