{% extends "base.html" %}
{% set active_page = "home" %}

{% block header %}
  {% include "headerHome.html" %}
{% endblock %}

{% block main %}

<div class="homeBannerCtn">
  
  <video muted autoplay loop class="bannerVid" aria-hidden="true">
    <source src="{{url_for('static', filename='/videos/bannerVidWideAlt.mp4')}}"/>
  </video>
  
  

</div>
<div class="bannerInfo">

  
    <h3>HI,  WE&apos;RE</h3>
    <h1>GESTURE CREATORS</h1>
  
    <p>We are proud to introduce SignSync&TRADE;, our AI-powered Jamaican Sign Language (JSL) Translator. It was designed to bridge communication barriers and empower deaf individuals.</p>

    <a href="{{ url_for('translator') }}" class="button-link">
        <span>Translate</span>
    </a>
    
  
  </div>

{% endblock %}