<!-- <div>
    <i data-lucide="search"></i>

    <form action="">
    <input list="brow">
    <datalist id="brow">
    <option value="Internet Explorer">
    <option value="Firefox">
    <option value="Chrome">
    <option value="Opera">
    <option value="Safari">
    </datalist>  
    </form>
</div> -->

<form method="POST" action="{{ url_for('translator') }}">
    {{ form.csrf_token }}
    
    {{ form.select_field.label }}

    <div class="searchForm">
        {{ form.select_field(class_='select') }}
        <button type="submit">
            <i data-lucide="rocket"></i> 
            Enter
        </button>
    </div>
</form>

{{state}}

